<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <style type="text/css">

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  </style>
</head>
<body>
<script type="text/ng-template" id="nodes_renderer.html">

</script>
<div ng-app="demoApp">
  <div ng-controller="BasicExampleCtrl">
    <div class="row">
      <div class="col-sm-12">
        <h3>Basic Example</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div ui-tree id="tree-root" data-drag-delay="100">
          <ol ui-tree-nodes ng-model="data">
            <li ng-repeat="node in data" ui-tree-node ng-click="nodeClicked(node)">
              <div class="tree-node tree-node-content">
                <i ui-tree-handle class="fa fa-bars"></i>
                <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                  <span class="glyphicon" ng-class="{
                      'glyphicon-chevron-right': collapsed,
                      'glyphicon-chevron-down': !collapsed
                    }"></span>
                </a>
                {{node.title}}
                <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                  <span class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                  <span class="glyphicon glyphicon-plus"></span></a>
              </div>
              <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                <li ng-repeat="node in node.nodes" ui-tree-node ng-click="nodeClicked(node)">
                  <div class="tree-node tree-node-content">
                    <i ui-tree-handle class="fa fa-bars"></i>
                    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                      <span class="glyphicon" ng-class="{
                      'glyphicon-chevron-right': collapsed,
                      'glyphicon-chevron-down': !collapsed
                    }"></span>
                    </a>
                    {{node.title}}
                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                      <span class="glyphicon glyphicon-remove"></span></a>
                    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                      <span class="glyphicon glyphicon-plus"></span></a>
                  </div>
                  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.nodes" ui-tree-node ng-click="nodeClicked(node)">
                      <div class="tree-node tree-node-content">
                        <i ui-tree-handle class="fa fa-bars"></i>
                        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                          <span class="glyphicon" ng-class="{
                      'glyphicon-chevron-right': collapsed,
                      'glyphicon-chevron-down': !collapsed
                    }"></span>
                        </a>
                        {{node.title}}
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                          <span class="glyphicon glyphicon-remove"></span></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                          <span class="glyphicon glyphicon-plus"></span></a>
                      </div>
                      <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-click="nodeClicked(node)">
                          <div class="tree-node tree-node-content">
                            <i ui-tree-handle class="fa fa-bars"></i>
                            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                              <span class="glyphicon" ng-class="{
                      'glyphicon-chevron-right': collapsed,
                      'glyphicon-chevron-down': !collapsed
                    }"></span>
                            </a>
                            {{node.title}}
                            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                              <span class="glyphicon glyphicon-remove"></span></a>
                            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
                              <span class="glyphicon glyphicon-plus"></span></a>
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="info">
          {{info}}
        </div>
        <pre class="code">{{ data | json }}</pre>
      </div>
    </div>
  </div>
</div>


 <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="angular-ui-tree.min.js"></script>
  <script type="text/javascript">
angular.module('demoApp', ['ui.tree'])
.controller('BasicExampleCtrl', ['$scope', function($scope)  {
    $scope.remove = function($scope) {
      $scope.remove()
  };

    $scope.toggle = function($scope) {
      $scope.toggle()
  };

    $scope.moveLastToTheBeginning = function()  {
      a = $scope.data.pop()
      $scope.data.splice(0, 0, a)
  };

    $scope.newSubItem = function($scope) {
      $nodeData = $scope.$modelValue
      //$nodeData.nodes.push(
      //  id: $nodeData.id * 10 + $nodeData.nodes.length,
      //  title: $nodeData.title + '.' + ($nodeData.nodes.length + 1),
      //  nodes: [])
  };

    $scope.collapseAll = function()  {
      $scope.$broadcast('collapseAll')
  };

    $scope.expandAll = function() {
      $scope.$broadcast('expandAll')
  };
      
    $scope.nodeClicked = function($node)  {
      debugger
  };

    $scope.data = [{
      'id': 1,
      'title': 'Study 1',
      'nodes': [
        {
          'id': 11,
          'title': 'Master Protocol A',
          'nodes': [
            {
              'id': 111,
              'title': 'Event 1',
              'nodes': []
            },
            {
              'id': 111,
              'title': 'Event 2',
              'nodes': [
                {
                  'id': 111,
                  'title': 'Event 3',
                  'nodes': []
                }

              ]
            },
            {
              'id': 111,
              'title': 'Event 4',
              'nodes': []
            }
          ]
        }
      ]
    }]

}]);

  </script>
</body>
</html>
